#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  /*배경 그라데이션 적용 */
  background: linear-gradient(180deg, #030715 0%, #233A80 100%);
  background-attachment: fixed; /* 스크롤해도 배경은 고정 */

  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}