/*꼭 검토 후 수정하기*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  margin: 0;
  display: flex;
  place-items: initial; /* Vite 기본 설정인 center를 해제 */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* 앱이 전체 너비를 사용하도록 설정 */
}