.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.description {
    color: #FFF;
    text-align: center;
    font-family: ABeeZee;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 80px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    gap: 120px;
    align-items: center;
}

.card-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    text-align: center;
    font-family: "Josefin Slab";
    margin-bottom: 20px;
}

/* 타임캡슐 카드 */
.capsule {
    color: #FFF;
    text-align: center;
    font-family: "Josefin Slab";
}

.card-sub {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.capsule img {
    width: 294px;
    height: 294px;
    aspect-ratio: 1/1;
}

.from {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

.capsule-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 레코드 카드 */
.record img {
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.record-text {
    color: #FFF;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 별자리 카드 */
.constellation img {
    width: 250px;
    height: 250px;
    aspect-ratio: 1/1;
}

.constellation-date {
    color: #FFF;
    text-align: center;
    font-family: "Josefin Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
