.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.description {
    color: #FFF;
    text-align: center;
    font-family: ABeeZee;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 100px;
    margin-top: 40px;
}

.cards {
  display: flex;
  gap: 120px;
  align-items: flex-start; 
}

/* 모든 카드 공통 */
.card {
  width: 300px;
  height: 420px;                 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 제목 */
.card-title {
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: "Josefin Slab";
  margin-bottom: 20px;
}

/* 이미지 영역 */
.card-image {
  height: 250px;                
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-record .card-image img {
    border-radius: 20px;
}

/* 하단 텍스트 */
.card-text {
  margin-top: 35px;             
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Josefin Slab";
}

.card-wrapper .card-title {
  margin-bottom: 40px;
}



