.detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    
    /* 가로세로 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    
    z-index: 1000;
    padding: 60px 20px;
    box-sizing: border-box;
}

.letter-paper {
    position: relative;
    margin-top: 2.5em;
    width: 90%;
    max-width: 35rem;
    min-height: 25rem;
    max-height: 80vh;
    
    /*이미지를 찌그러뜨리지 않고 꽉 채우기 */
    background-size: cover; 
    
    /* 이미지가 잘릴 때 중앙을 기준으로 정렬 */
    background-position: center center;
    
    background-repeat: no-repeat;
    
    padding: 35px 45px 45px 45px;
    padding-bottom: clamp(35px, 8%, 45px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    
    /* default 배경색 */
    background-color: #ffffff; 
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

@keyframes fadeInModal {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.letter-content-wrapper {
    flex: 1;
    overflow-y: auto; /* 내용이 많으면 내부에서 스크롤 생성 */
    margin : 5px 0;
}

.letter-content-wrapper::-webkit-scrollbar {
    width: 9px;
    background: transparent;
}

/* 화살표 제거 */
.letter-content-wrapper::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.letter-content-wrapper::-webkit-scrollbar-track {
    background: linear-gradient(
        to bottom,
        rgba(32, 49, 94, 0.55) 0%,
        rgba(42, 66, 128, 0.55) 100%
    );
    border-radius: 999px;
}

.letter-content-wrapper::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220, 0.85);
    border-radius: 999px;

    background-clip: padding-box;
}


.letter-content-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(220, 220, 220, 1);
}

.letter-content-wrapper::-webkit-scrollbar-corner {
    background: transparent;
}


.detail-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top:0.3em;
    margin-bottom: 0.5em;
}

.detail-text {
    padding-top:1em;
    line-height: 1.7; 
    white-space: pre-wrap; /* 줄바꿈(\n) 반영 */
    word-break: break-all;
}

.detail-overlay .close-btn {
    position: absolute;
    top: 0.7rem; 
    right: 1rem;
    font-size: 2rem;
    
    background: none;
    border: none;
    line-height: 1;
    cursor: pointer;
    
    color: #666;
    transition: all 0.2s ease;
    
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-overlay .close-btn:hover {
    transform: rotate(90deg); 
}

/* 테마별 글자색 설정 */
.letter-paper.theme1 { color: #ffffff; } /* Dark Blue */
.letter-paper.theme2 { color: #4a4a4a; } /* Pink */
.letter-paper.theme3 { color: #2c3e50; } /* Grey */
.letter-paper.theme4 { color: #2a3744; } /* Blue */

.divider {
    border: none;
    border-top: 1px solid currentColor; /* 현재 글자색(color)을 그대로 사용 */
    opacity: 0.3;
}

/*디자인별 스크롤바 디자인*/
/* 공통 스크롤바 스타일 */
.letter-content-wrapper::-webkit-scrollbar { width: 6px; }
.letter-content-wrapper::-webkit-scrollbar-track { border-radius: 10px; background: rgba(0,0,0,0.05); }
.letter-content-wrapper::-webkit-scrollbar-thumb { border-radius: 10px; background: rgba(220, 220, 220, 0.5); }

/* 테마별 트랙/핸들 색상 분기 */
.theme2 .letter-content-wrapper::-webkit-scrollbar-track { background: #FFF0F5; }
.theme2 .letter-content-wrapper::-webkit-scrollbar-thumb { background: #e5cbea; }

.theme3 .letter-content-wrapper::-webkit-scrollbar-track { background: #425b73; }
.theme3 .letter-content-wrapper::-webkit-scrollbar-thumb { background: #95a5a6; }
