.detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    
    /* 가로세로 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    
    z-index: 1000;
    padding: 60px 20px;
    box-sizing: border-box;
}

.letter-paper {
    position: relative;
    margin-top: 2.5em;
    width: 90%;
    max-width: 35rem;
    min-height: 25rem;
    max-height: 80vh;
    
    /*이미지를 찌그러뜨리지 않고 꽉 채우기 */
    background-size: cover; 
    
    /* 이미지가 잘릴 때 중앙을 기준으로 정렬 */
    background-position: center center;
    
    background-repeat: no-repeat;
    
    padding: 30px 40px 40px 40px;
    padding-bottom: clamp(35px, 8%, 45px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    
    /* default 배경색 */
    background-color: #ffffff; 
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

@keyframes fadeInModal {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.letter-content-wrapper {
    flex: 1;
    overflow-y: auto; /* 내용이 많으면 내부에서 스크롤 생성 */
    margin : 5px 0;
}

.letter-content-wrapper::-webkit-scrollbar {
    width: 9px;
    background: transparent;
}

/* 화살표 제거 */
.letter-content-wrapper::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

.letter-content-wrapper::-webkit-scrollbar-track {
    background: linear-gradient(
        to bottom,
        rgba(32, 49, 94, 0.55) 0%,
        rgba(42, 66, 128, 0.55) 100%
    );
    border-radius: 999px;
}

.letter-content-wrapper::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220, 0.85);
    border-radius: 999px;

    background-clip: padding-box;
}


.letter-content-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(220, 220, 220, 1);
}

.letter-content-wrapper::-webkit-scrollbar-corner {
    background: transparent;
}


.detail-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-top:0.3em;
    margin-bottom: 0.5em;
}

.detail-text {
    padding-top:1em;
    line-height: 1.7; 
    white-space: pre-wrap; /* 줄바꿈(\n) 반영 */
    word-break: break-all;
}

.close-btn {
    position: absolute;
    top: 0.3em;
    right: 0.4em;
    
    background: none;
    border: none;
    font-size: 32px;
    line-height: 1;
    cursor: pointer;
    
    color: #666;
    transition: all 0.2s ease;
    
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    color: #af2222;
    transform: rotate(90deg); 
}

/* 테마별 글자색 설정 */
.letterbox-container .letter-paper.theme-DEFAULT { 
    color: #ffffff; 
}

.letterbox-container .letter-paper.theme-PINK { 
    color: #4a4a4a; 
}

.letterbox-container .letter-paper.theme-GREY { 
    color: #2c3e50; 
}

.letterbox-container .letter-paper.theme-BLUE { 
    color: #2a3744; 
}

.divider {
    border: none;
    border-top: 1px solid currentColor; /* 현재 글자색(color)을 그대로 사용 */
    opacity: 0.3;
}

/*디자인별 스크롤바 디자인*/
/* DEFAULT, BLUE 테마는 기존 배경 사용 */
/* PINK 테마 (연분홍 배경) */
.theme-PINK .letter-content-wrapper::-webkit-scrollbar-track {
    background: #FFF0F5;
}
.theme-PINK .letter-content-wrapper::-webkit-scrollbar-thumb {
    background-color: #d5c1df;
}

.theme-PINK .letter-content-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgb(229, 203, 224);
}


/* GREY 테마 (다크그레이 배경) */
.theme-GREY .letter-content-wrapper::-webkit-scrollbar-track {
    background: #425b73;
}
.theme-GREY .letter-content-wrapper::-webkit-scrollbar-thumb {
    background-color: #95a5a6;
}

.theme-GREY .letter-content-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(220, 220, 220, 1);
}
