.tab-item {
    position: relative;
    font-size: 20px;
    padding-bottom: 6px;
    cursor: pointer;
    color: white;
    opacity: 0.7; /* 기본 투명도 */
    transition: opacity 0.3s ease, font-weight 0.3s ease;
}

.tab-item:hover {
    opacity: 1 !important;
}

.tab-item.active {
    font-weight: 600;
    opacity: 1;
}

.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0E77BC;
    transform-origin: center;
    transition: transform 0.3s ease;
}