/* 전체 레이아웃 (컨테이너) */
.signup-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  overflow-y: auto; 
  padding-top: 5px; 
  box-sizing: border-box; 
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* 카드 박스 */
.signup-card {
  width: 450px; 
  height: auto;       
  background: #000D32;
  border: 1px solid #2A4280;
  border-radius: 20px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: auto; 
}

.signup-logo-img {
  top: 90px;
  width: 120px;
}

.profile-img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    background: #fff;
}

.form-section {
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: -7px;
  width: 100%;
}

.input-group label {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  border-radius: 12px;
  border: 1px solid #2A4280;
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  font-size: 14px;
  box-sizing: border-box;
}

.input-group textarea {
  height: 40px;
  padding-top: 12px;
  resize: none;
}

.disabled-input {
  background: rgba(255, 255, 255, 0.15) !important;
  color: #aaaaaa !important;
  cursor: not-allowed;
}

.signup-button {
    width: 370px;
    height: 60px;
    border-radius: 16px;
    border: 3px solid #2A4280;
    background: rgba(255, 255, 255, 0.00);
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.signup-button:hover {
  background: rgba(42, 66, 128, 0.3);
}

.profile-edit-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.profile-img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}


